TestMartCatalogService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://singh.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCatalogService" targetNamespace="http://singh.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://singh.com/" schemaLocation="http://desktop-1ou9pa9:8080/Testmart/ProductCatalogService?xsd=1"/>
</xsd:schema>
</types>
<message name="getProducts">
<part element="tns:getProducts" name="parameters"/>
</message>
<message name="getProductsResponse">
<part element="tns:getProductsResponse" name="parameters"/>
</message>
<message name="addProduct">
<part element="tns:addProduct" name="parameters"/>
</message>
<message name="addProductResponse">
<part element="tns:addProductResponse" name="parameters"/>
</message>
<message name="getProductCategories">
<part element="tns:getProductCategories" name="parameters"/>
</message>
<message name="getProductCategoriesResponse">
<part element="tns:getProductCategoriesResponse" name="parameters"/>
</message>
<portType name="ProductCatalog">
<operation name="getProducts">
<input message="tns:getProducts" wsam:Action="http://singh.com/ProductCatalog/getProductsRequest"/>
<output message="tns:getProductsResponse" wsam:Action="http://singh.com/ProductCatalog/getProductsResponse"/>
</operation>
<operation name="addProduct">
<input message="tns:addProduct" wsam:Action="http://singh.com/ProductCatalog/addProductRequest"/>
<output message="tns:addProductResponse" wsam:Action="http://singh.com/ProductCatalog/addProductResponse"/>
</operation>
<operation name="getProductCategories">
<input message="tns:getProductCategories" wsam:Action="http://singh.com/ProductCatalog/getProductCategoriesRequest"/>
<output message="tns:getProductCategoriesResponse" wsam:Action="http://singh.com/ProductCatalog/getProductCategoriesResponse"/>
</operation>
</portType>
<binding name="ProductCatalogPortBinding" type="tns:ProductCatalog">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductCatalogService">
<port binding="tns:ProductCatalogPortBinding" name="ProductCatalogPort">
<soap:address location="http://desktop-1ou9pa9:8080/Testmart/ProductCatalogService"/>
</port>
</service>
</definitions>
